### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [48]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

#school_data.head(5)
#student_data.head(5)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(5)
#school_data_complete.dtypes

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
#schools = school_data_complete["school_name"].unique()  -> shows the array with the list of unique schools
schools = school_data_complete["school_name"].nunique()
schools

#Calculate the total number of students
students = school_data_complete["Student ID"].nunique()
students

#Calculate the total number of budgets per school
schoolBudget = school_data_complete["budget"].unique() # -> shows the array with the list of unique BUDGETS

# add those values
ttlbudget = schoolBudget.sum()
print(ttlbudget)

#Calculate the average math score
avgMath = school_data_complete["math_score"].mean()
avgMath

#Calculate the average reading score
avgRead = school_data_complete["reading_score"].mean()
avgRead

#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
ovPassRate = (avgMath + avgRead)/2
ovPassRate

#Calculate the percentage of students with a passing math score (70 or greater)
math70 = school_data_complete.loc[school_data_complete["math_score"] >= 70] #.count 
#math70
math70Count = len(math70)
math70Count

# Math Percentage 
mathPct = (math70Count/students)*100
mathPct

#Calculate the percentage of students with a passing reading score (70 or greater)

read70 = school_data_complete.loc[school_data_complete["reading_score"] >= 70] 
#read70
read70Count = len(read70)
read70Count

# Read Percentage 
readPct = (read70Count/students)*100
readPct

#Create a dataframe to hold the above results
summary = [{"Total Schools": schools, "Total Students": students, "Total Budget": ttlbudget, 
           "Average Math Score": avgMath, "Average Reading Score": avgRead, "%Passing Math": mathPct, 
           "%Passing Reading": readPct, "%Overall Passing Rate": ovPassRate}]
#summary

DistricSummarydf = pd.DataFrame(summary)
#DistricSummarydf

#Optional: give the displayed data cleaner formatting
format_mapping={"Total Students": '{:,.0f}', "Total Budget": '${:,.2f}', 
                "Average Math Score": '{:.6f}',
                "Average Reading Score": '{:.6f}',
                "%Passing Math": '{:.6f}',
                "%Passing Reading": '{:.6f}',
                "%Overall Passing Rate": '{:.6f}'}

for key, value in format_mapping.items():
    DistricSummarydf[key] = DistricSummarydf[key].apply(value.format)


DistricSummarydf

24649428

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.877840,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [3]:
#Create an overview table that summarizes key metrics about each school, including:

# GroupBy School

# Using GroupBy in order to separate the data into fields according to "school" values
eachSchool = school_data_complete.groupby(['school_name'])

# In order to be visualized, a data function must be used...
eachSchool.count().head(15)

#School Name 
eachSchoolName = eachSchool["school_name"].unique()
eachSchoolName
#eachSchoolName.head(15)

#School Type
eachSchoolType = eachSchool["type"].unique()
eachSchoolType
#eachSchoolType.head(15)

#Total Students
eachSchoolStudents = eachSchool["Student ID"].count()
eachSchoolStudents.head()

#Total School Budget
eachSchoolBudget = eachSchool["budget"].unique()
eachSchoolBudget
#eachSchoolType.head(15)

#Per Student Budget
eachSchoolStdBgt = eachSchoolBudget/eachSchoolStudents
eachSchoolStdBgt

#Average Math Score
eachSchoolAveMath = eachSchool["math_score"].mean()
eachSchoolAveMath.head()

#Average Reading Score
eachSchoolAveRead = eachSchool["reading_score"].mean()
eachSchoolAveRead.head()


#% Passing Math
# GroupBy School & math > 70
#  Using GroupBy in order to separate the data into fields according to "school" values
eachSchoolMathPass = math70.groupby(['school_name'])
# In order to be visualized, a data function must be used...
eachSchoolMathPass.head()
# Count how many scores have occured within each grade score
eachSchoolMathPassCount = eachSchoolMathPass["math_score"].count()
eachSchoolMathPassCount
# Calculate percentage
eachSchoolMathPct = (eachSchoolMathPassCount/eachSchoolStudents)*100
eachSchoolMathPct

#% Passing Reading
# GroupBy School & read > 70
#  Using GroupBy in order to separate the data into fields according to "school" values
eachSchoolReadPass = read70.groupby(['school_name'])

# In order to be visualized, a data function must be used...
eachSchoolReadPass.head()

# Count how many scores have occured within each grade score
eachSchoolReadPassCount = eachSchoolReadPass["reading_score"].count()
eachSchoolReadPassCount

# Calculate percentage
eachSchoolReadPct = (eachSchoolReadPassCount/eachSchoolStudents)*100
eachSchoolReadPct


#Overall Passing Rate (Average of the above two)
esOvRate =(eachSchoolMathPct+eachSchoolReadPct)/2
esOvRate

#Create a dataframe to hold the above results

SchoolSummarydf = pd.DataFrame({"School Type": eachSchoolType, "Total Students": eachSchoolStudents, 
             "Total School Budget": eachSchoolBudget, "Per Student Budget": eachSchoolStdBgt, 
             "Average Math Score": eachSchoolAveMath, "Average Reading Score": eachSchoolAveRead, 
             "%Passing Math": eachSchoolMathPct, "%Passing Reading": eachSchoolReadPct, 
             "%Overall Passing Rate": esOvRate})

SchoolSummarydf

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,94.972222

In [46]:
#SchoolSummarydf.dtypes

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [5]:
#df.sort_values('mpg') --> Order rows by values of a column (low to high).
#df.sort_values('mpg',ascending =False) --> Order rows by values of a column (high to low).

Top5SchoolSummarydf = SchoolSummarydf.sort_values("%Overall Passing Rate", ascending=False)
Top5SchoolSummarydf.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [6]:
Bottom5SchoolSummarydf = SchoolSummarydf.sort_values("%Overall Passing Rate")
Bottom5SchoolSummarydf.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [7]:
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.

# Filter the data so that only those grades in the 9th are in a DataFrame
Grade9df = school_data_complete.loc[school_data_complete["grade"]== "9th",: ]
Grade9bySchool = Grade9df.groupby(["school_name"])
#Calculate the average math score
avgMathxS9 = Grade9bySchool["math_score"].mean()
avgMathxS9

Grade10df = school_data_complete.loc[school_data_complete["grade"]== "10th",: ]
Grade10bySchool = Grade10df.groupby(["school_name"])
avgMathxS10 = Grade10bySchool["math_score"].mean()

Grade11df = school_data_complete.loc[school_data_complete["grade"]== "11th",: ]
Grade11bySchool = Grade11df.groupby(["school_name"])
avgMathxS11 = Grade11bySchool["math_score"].mean()

Grade12df = school_data_complete.loc[school_data_complete["grade"]== "12th",: ]
Grade12bySchool = Grade12df.groupby(["school_name"])
avgMathxS12 = Grade12bySchool["math_score"].mean()

#Combine the series into a dataframe
Gradesdf1 = pd.merge(avgMathxS9, avgMathxS10, on="school_name",how="left")
Gradesdf1 = Gradesdf1.rename(columns={"math_score_x": "9th","math_score_y": "10th"})
Gradesdf2 = pd.merge(avgMathxS11, avgMathxS12, on="school_name",how="left")
Gradesdf2 = Gradesdf2.rename(columns={"math_score_x": "11th","math_score_y": "12th"})
Gradesdf = pd.merge(Gradesdf1, Gradesdf2, on="school_name",how="left")
Gradesdf

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [8]:
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Create a pandas series for each grade. Hint: use a conditional statement.

#Calculate the average reading score
avgReadxS9 = Grade9bySchool["reading_score"].mean()
avgReadxS10 = Grade10bySchool["reading_score"].mean()
avgReadxS11 = Grade11bySchool["reading_score"].mean()
avgReadxS12 = Grade12bySchool["reading_score"].mean()

#Combine the series into a dataframe
Gradesdf1r = pd.merge(avgReadxS9, avgReadxS10, on="school_name",how="left")
Gradesdf1r = Gradesdf1r.rename(columns={"reading_score_x": "9th","reading_score_y": "10th"})
Gradesdf2r = pd.merge(avgReadxS11, avgReadxS12, on="school_name",how="left")
Gradesdf2r = Gradesdf2r.rename(columns={"reading_score_x": "11th","reading_score_y": "12th"})
Gradesdfr = pd.merge(Gradesdf1r, Gradesdf2r, on="school_name",how="left")
Gradesdfr

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [9]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [10]:
SchoolSummarydf["Spending Ranges(per student)"] = pd.cut(SchoolSummarydf["Per Student Budget"],spending_bins, labels = group_names)
SchoolSummarydf

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate,Spending Ranges(per student)
school_name,,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,74.306672,$615-645
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652,<$585
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,73.363852,$615-645
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,73.804308,$615-645
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668,$615-645
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,73.807983,$645-675
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,94.379391,<$585
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,73.500171,$645-675
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,73.639992,$645-675
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,95.270270,$585-615
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,73.293323,$615-645
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,94.860875,$585-615
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,95.290520,$615-645
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,95.203679,<$585
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,94.972222,<$585

In [17]:
#groups = df.groupby(['username', pd.cut(df.views, bins)])

SchoolSpendingScores = SchoolSummarydf.groupby("Spending Ranges(per student)")
SchoolSpendingScores.mean()

,Total Students,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
Spending Ranges(per student),,,,,,
<$585,1592.000000,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,1361.500000,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,2961.000000,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,4104.333333,76.997210,81.027843,66.164813,81.133951,73.649382

In [18]:
SchoolSpendingScores = SchoolSummarydf.groupby("Spending Ranges(per student)")
SchoolSpendingScores = SchoolSpendingScores[["Average Math Score","Average Reading Score","%Passing Math","%Passing Reading","%Overall Passing Rate"]]
SchoolSpendingScores.mean()

,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
Spending Ranges(per student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [16]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [19]:

SchoolSummarydf["School Size"] = pd.cut(SchoolSummarydf["Total Students"],size_bins, labels = group_names)
SchoolSummarydf

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate,Spending Ranges(per student),School Size
school_name,,,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,74.306672,$615-645,Large (2000-5000)
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652,<$585,Medium (1000-2000)
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,73.363852,$615-645,Large (2000-5000)
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,73.804308,$615-645,Large (2000-5000)
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668,$615-645,Medium (1000-2000)
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,73.807983,$645-675,Large (2000-5000)
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,94.379391,<$585,Small (<1000)
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,73.500171,$645-675,Large (2000-5000)
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,73.639992,$645-675,Large (2000-5000)
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,95.270270,$585-615,Small (<1000)
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,73.293323,$615-645,Large (2000-5000)
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,94.860875,$585-615,Medium (1000-2000)
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,95.290520,$615-645,Medium (1000-2000)
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,95.203679,<$585,Large (2000-5000)
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,94.972222,<$585,Medium (1000-2000)

In [20]:
SchoolSizeScores = SchoolSummarydf.groupby("School Size")
#SchoolSizeScores.mean()
SchoolSizeScores = SchoolSizeScores[["Average Math Score","Average Reading Score","%Passing Math","%Passing Reading","%Overall Passing Rate"]]
SchoolSizeScores.mean()

,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

In [72]:
#new table wirh just the columns needed
TypeTable = SchoolSummarydf[["School Type","Average Math Score","Average Reading Score","%Passing Math","%Passing Reading","%Overall Passing Rate"]]
TypeTable

,School Type,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
school_name,,,,,,
Bailey High School,[District],77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,[Charter],83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,[District],76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,[District],77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,[Charter],83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,[District],77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,[Charter],83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,[District],76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,[District],77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,[Charter],83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,[District],76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,[Charter],83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,[Charter],83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,[Charter],83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,[Charter],83.682222,83.955000,93.333333,96.611111,94.972222

In [73]:
SchoolTypeScores = SchoolSummarydf.groupby(["School Type"])
SchoolTypeScores.mean()

TypeError: unhashable type: 'numpy.ndarray'

In [71]:
#df_a.groupby('id', as_index = False)['amount'].sum()

SchoolTypeScores = SchoolSummarydf.groupby('School Type', as_index = False)["Average Math Score"].sum()
SchoolTypeScores

TypeError: unhashable type: 'numpy.ndarray'

In [66]:
#groups = df.groupby(['username', pd.cut(df.views, bins)])


SchoolTypeScores = SchoolSummarydf.groupby(['School Type'])
SchoolTypeScores

#SchoolTypeScores = SchoolTypeScores[["Average Math Score","Average Reading Score","%Passing Math","%Passing Reading","%Overall Passing Rate"]]

#SchoolTypeScores.mean()

In [70]:
#test = grouped.aggregate(np.sum)

SchoolTypeScores2 = SchoolTypeScores.aggregate(mean)

NameError: name 'mean' is not defined

In [ ]:
#groups = df.groupby(['username', pd.cut(df.views, bins)])

In [38]:
#new table
TypeTable = SchoolSummarydf[["School Type","Average Math Score","Average Reading Score","%Passing Math","%Passing Reading","%Overall Passing Rate"]]
TypeTable

,School Type,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
school_name,,,,,,
Bailey High School,[District],77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,[Charter],83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,[District],76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,[District],77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,[Charter],83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,[District],77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,[Charter],83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,[District],76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,[District],77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,[Charter],83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,[District],76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,[Charter],83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,[Charter],83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,[Charter],83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,[Charter],83.682222,83.955000,93.333333,96.611111,94.972222

In [43]:
TypeTable["School Type"].dtypes

dtype('O')

In [41]:
#Replace values
#df['Employer'] = df['Employer'].replace(
#    {'Self Employed': 'Self-Employed', 'Self': 'Self-Employed'})

TypeTable["School Type"] = TypeTable["School Type"].replace({"[District]":District,"[Charter]":Charter})
TypeTable

NameError: name 'District' is not defined

In [25]:
#new table
TypeTable = SchoolSummarydf[["School Type","Average Math Score","Average Reading Score","%Passing Math","%Passing Reading","%Overall Passing Rate"]]
TypeTable

,School Type,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate
school_name,,,,,,
Bailey High School,[District],77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,[Charter],83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,[District],76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,[District],77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,[Charter],83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,[District],77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,[Charter],83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,[District],76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,[District],77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,[Charter],83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,[District],76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,[Charter],83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,[Charter],83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,[Charter],83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,[Charter],83.682222,83.955000,93.333333,96.611111,94.972222

In [36]:
SchoolTypeScores = TypeTable.groupby(["Type"])
SchoolTypeScores.mean()

In [ ]:
type_bins = ["Charter", "District"]
group_names = ["Charter", "District"]

In [28]:
TypeTable["Type"] = TypeTable["School Type"]
TypeTable


#df_2.loc[:,'D'] = df_2['B']

#TypeTable.loc[:,"Type"] = TypeTable["School Type"]
#TypeTable

C:\Users\hguzm\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,School Type,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate,Type
school_name,,,,,,,
Bailey High School,[District],77.048432,81.033963,66.680064,81.933280,74.306672,[District]
Cabrera High School,[Charter],83.061895,83.975780,94.133477,97.039828,95.586652,[Charter]
Figueroa High School,[District],76.711767,81.158020,65.988471,80.739234,73.363852,[District]
Ford High School,[District],77.102592,80.746258,68.309602,79.299014,73.804308,[District]
Griffin High School,[Charter],83.351499,83.816757,93.392371,97.138965,95.265668,[Charter]
Hernandez High School,[District],77.289752,80.934412,66.752967,80.862999,73.807983,[District]
Holden High School,[Charter],83.803279,83.814988,92.505855,96.252927,94.379391,[Charter]
Huang High School,[District],76.629414,81.182722,65.683922,81.316421,73.500171,[District]
Johnson High School,[District],77.072464,80.966394,66.057551,81.222432,73.639992,[District]
Pena High School,[Charter],83.839917,84.044699,94.594595,95.945946,95.270270,[Charter]
Rodriguez High School,[District],76.842711,80.744686,66.366592,80.220055,73.293323,[District]
Shelton High School,[Charter],83.359455,83.725724,93.867121,95.854628,94.860875,[Charter]
Thomas High School,[Charter],83.418349,83.848930,93.272171,97.308869,95.290520,[Charter]
Wilson High School,[Charter],83.274201,83.989488,93.867718,96.539641,95.203679,[Charter]
Wright High School,[Charter],83.682222,83.955000,93.333333,96.611111,94.972222,[Charter]

In [29]:
#df['Employer'] = df['Employer'].replace(
#    {'Self Employed': 'Self-Employed', 'Self': 'Self-Employed'})

TypeTable["Type"] = TypeTable["Type"].replace({"District":1,"Charter":0})
TypeTable

C:\Users\hguzm\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,School Type,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate,Type
school_name,,,,,,,
Bailey High School,[District],77.048432,81.033963,66.680064,81.933280,74.306672,1
Cabrera High School,[Charter],83.061895,83.975780,94.133477,97.039828,95.586652,0
Figueroa High School,[District],76.711767,81.158020,65.988471,80.739234,73.363852,1
Ford High School,[District],77.102592,80.746258,68.309602,79.299014,73.804308,1
Griffin High School,[Charter],83.351499,83.816757,93.392371,97.138965,95.265668,0
Hernandez High School,[District],77.289752,80.934412,66.752967,80.862999,73.807983,1
Holden High School,[Charter],83.803279,83.814988,92.505855,96.252927,94.379391,0
Huang High School,[District],76.629414,81.182722,65.683922,81.316421,73.500171,1
Johnson High School,[District],77.072464,80.966394,66.057551,81.222432,73.639992,1
Pena High School,[Charter],83.839917,84.044699,94.594595,95.945946,95.270270,0
Rodriguez High School,[District],76.842711,80.744686,66.366592,80.220055,73.293323,1
Shelton High School,[Charter],83.359455,83.725724,93.867121,95.854628,94.860875,0
Thomas High School,[Charter],83.418349,83.848930,93.272171,97.308869,95.290520,0
Wilson High School,[Charter],83.274201,83.989488,93.867718,96.539641,95.203679,0
Wright High School,[Charter],83.682222,83.955000,93.333333,96.611111,94.972222,0

In [35]:
SchoolTypeScores = TypeTable.groupby(["Type"])
SchoolTypeScores.mean()

,School Type,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,%Overall Passing Rate,Type
school_name,,,,,,,
Bailey High School,[District],77.048432,81.033963,66.680064,81.933280,74.306672,1
Cabrera High School,[Charter],83.061895,83.975780,94.133477,97.039828,95.586652,0
Figueroa High School,[District],76.711767,81.158020,65.988471,80.739234,73.363852,1
Ford High School,[District],77.102592,80.746258,68.309602,79.299014,73.804308,1
Griffin High School,[Charter],83.351499,83.816757,93.392371,97.138965,95.265668,0
Hernandez High School,[District],77.289752,80.934412,66.752967,80.862999,73.807983,1
Holden High School,[Charter],83.803279,83.814988,92.505855,96.252927,94.379391,0
Huang High School,[District],76.629414,81.182722,65.683922,81.316421,73.500171,1
Pena High School,[Charter],83.839917,84.044699,94.594595,95.945946,95.270270,0
Shelton High School,[Charter],83.359455,83.725724,93.867121,95.854628,94.860875,0

In [ ]:
# if "School Type" = "District"
    return

In [24]:
#SchoolSizeScores = SchoolSummarydf.groupby("School Size")
SchoolTypeScores = SchoolSummarydf.groupby("School Type")
SchoolTypeScores.mean()

TypeError: unhashable type: 'numpy.ndarray'

In [ ]:
SchoolTypeScores = SchoolSummarydf.groupby(["School Type"])

SchoolTypeScores = SchoolTypeScores[["Average Math Score","Average Reading Score","%Passing Math","%Passing Reading","%Overall Passing Rate"]]

SchoolTypeScores.mean()

In [ ]:
#df2 = df1.set_index("State", drop = False)

SchoolTypeScores = SchoolSummarydf.set_index("School Type", drop = True)
SchoolTypeScores
#SchoolTypeScores2 = SchoolTypeScores.groupby([School Type])
#SchoolTypeScores2.mean()
#SchoolTypeScores2

In [ ]:
# Count how many sightings have occured within each state
#state_counts = usa_ufo_df["state"].value_counts()
#state_counts.head()

# Count how many sightings have occured within each state
SchoolType = SchoolSummarydf["School Type"]
SchoolType.head()

In [ ]:
SchoolType = SchoolSummarydf.groupby("School Type")
SchoolType.head()

In [ ]:
SchoolType = SchoolSummarydf.groupby("School Type")
#SchoolSummarydf2.mean()
SchoolType = SchoolType[["Average Math Score","Average Reading Score","%Passing Math","%Passing Reading","%Overall Passing Rate"]]
SchoolType.mean()

In [ ]:

type_bins = ["Charter", "District"]
group_names = ["Charter", "District"]

In [ ]:
SchoolSummarydf["School Type"] = pd.cut(SchoolSummarydf["School Type"],type_bins, labels = group_names)
SchoolSummarydf